@page
@using GdPicture14.WEB
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="application_container">
    <div id="viewer_container" style="height: 500px;">
        @{
            using (DocuViewareControl docuVieware = new DocuViewareControl(Model.SessionId, "DocuVieware", 30)
            {
                AnnotationEditorMode = false,
                EnableFileUploadButton = false,
                EnableFormFieldsEdition = true,
                EnableLoadFromUriButton = false,
                EnableTwainAcquisitionButton = false,
                MaxUploadSize = 52428800,
                ShowRedactionSnapIn = false
            })
            {
                docuVieware.LoadFromFile(Model.DocumentPath);

                string svg = "<svg viewBox=\"0 0 512 512\" width=\"100%\" height=\"100%\"><g>" +
                    "<path xmlns=\"http://www.w3.org/2000/svg\" " +
                    "stroke=\"#000\" " +
                    "d=\"m12.39251,155.673918l186.018769,0l57.481231,-143.619617l57.481264,143.619617l186.018736,0l-150.49207,88.760789l57.484205,143.619617l-150.492135,-88.763206l-150.492103,88.763206l57.484222,-143.619617l-150.492119,-88.760789z\" " +
                    "stroke-width=\"22.5\" " +
                    "fill=\"#fff\"/></g></svg>";
                string img = "<img src=\"/Images/star.jpg\" style=\"width: 100%;\" />";
                docuVieware.AddCustomSnapIn("mySnapIn", "Set star", svg, "<button type=\"button\" onclick=\"setStar();\">Set star</button>", true, "");

                docuVieware.RenderControl(Output);
            }
        }
    </div>
</div>

<script>
    function setStar() {
        DocuViewareAPI.PostCustomServerAction('DocuVieware', true, "SetStar", {}, function (result) {
            // Possibly handle results here, or omit parameter if unnecessary.
        });
    }
</script>
